-
  function format(date) {
    return `(${String(date).substring(0,4)})`
  }

  function limitSize(summary) {
    if (summary.length > 400) {
      return summary.slice(0, 400) + '...';    
    } else {
      return summary;
    }
  }

  function extendedTitle(title) {
    return Boolean(title.split(':').length > 1)
  }

  function firstHalf(title) {
    return title.split(':')[0] + ':'
  }

  function secondHalf(title) {
    return title.split(':')[1]
  }