
script(id='mListing' type='text/x-handlebars').       
  {{#each movies}}
  <li>
    <p class='movieName'>{{original_title}}</p>
    <p class='ratings'> Ratings</p>
    <p class='addMovie'>Add Movie</p>
  </li>
  {{/each}}