
script(id='mListing' type='text/x-handlebars').       
  {{#each movies}}
  <li>
    <img src='https://image.tmdb.org/t/p/w200/{{poster_path}}'>
    <a href='/movie/{{title}}&{{release_date}}'>
      <p class='movieName'>{{title}}</p>
      <p class='date'>{{release_date}}</p>
    </a>
    <div class='description'>{{overview}}</div>
  </li>
  {{/each}}