
script(id='mListing' type='text/x-handlebars').       
  {{#each movies}}
  <li>
    <a href='/movie/{{title}}&{{release_date}}'>
      <p class='movieName'>{{title}}</p>
      <div class='descriptionContainer'>
        <img src='https://image.tmdb.org/t/p/w200{{poster_path}}' alt="{{title}}">
        <p class='description'>{{overview}}</p>
      </div>
      <p class='date'>{{release_date}}</p>
    </a>
  </li>
  {{/each}}