extends layout

block content
  div#front
    section
      h3 Weekly Trending
      div.movies
        div.arrow
          i(class='fas fa-chevron-left fa-3x')
        ul#trending
        div.arrow
          i(class='fas fa-chevron-right fa-3x')
    section
      h3 Latest Popular
      div.movies
        div.arrow
          i(class='fas fa-chevron-left fa-3x')
        ul#latest
        div.arrow
          i(class='fas fa-chevron-right fa-3x')
    section
      h3 Top Rated - All Time
      div.movies
        div.arrow
          i(class='fas fa-chevron-left fa-3x')    
        ul#topRated
        div.arrow
          i(class='fas fa-chevron-right fa-3x')

    include _scripts
