extends layout

block content
  div#front
    section
      h3 Trending
      i(class='fas fa-chevron-left fa-3x')
      ul#trending
      i(class='fas fa-chevron-right fa-3x')
    section
      h3 Top Rated
      i(class='fas fa-chevron-left fa-3x')
      ul#topRated
      i(class='fas fa-chevron-right fa-3x')
    section
      h3 Latest
      i(class='fas fa-chevron-left fa-3x')    
      ul#latest
      i(class='fas fa-chevron-right fa-3x')

    include _scripts
