include _functions

  h3 Your List of Movies
  if (savedList.length)
    ul
      each movie in savedList
        li
          p #{movie.title} #{format(movie.release_date)}
          button(class='deleteMovie' value=''+ movie.movie_id) Delete Movie
    button(class='generate')
      a(href='/recommendations') Generate Recommendations

  else
    h6 Your List is Empty  




