/* All Pages */

body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1300px;
  margin: auto;
  background-color:rgba(49,49,49);
}

button {
  cursor: pointer;
  font-size: 14px;
}

p, h3, label, span, h1, h6 {
  color: lightgrey;
}

a {
  color: lightgrey;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 0;
}

header {
  position: relative;
  border-bottom: 1px solid darkgrey;
}

header nav {
  display: block;
}

header form {
  text-align: center;
  margin: 30px 0;
}

header input {
  border-radius: 10px;
  margin-left: 10px;
  width: 250px;
  height: 25px;
  padding-left: 10px;
}

nav a {
  display: inline-block;
  width: 50%;
  font-size: 20px;
  text-align: center;
}

main footer {
  margin-top: 100px;
  text-align: center;
}

/* Main Display */

body::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
  background: black;
}

#front section {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
}

#front h3 {
  text-align: left;
  text-decoration: underline;
  padding: 20px 0;
  margin: 0;
}

#front .movies {
  position: relative;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

#front ul {
  list-style-type: none;
  padding: 0 2.5%;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

#front i {
  display: block;
  position: absolute;
  cursor: pointer;
  color: white;
  top: 45%;
  width: 30px;
  height: 30px;
}

[class='fas fa-chevron-right fa-3x'] {
  right: 0;
}

[class='fas fa-chevron-left fa-3x'] {
  left: 0;
}

#front i[class='fas fa-chevron-left fa-3x'] {
  display: none;
}

.arrow {
  position: absolute;
  display: inline-block;
  height: 100%;
}

#front li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 2%;
  width: 21%;
}

#front li:last-of-type {
  margin-right: 0px;
}

#front img {
  display:block;
  width: 100%;
  height: auto;
  border-radius: 10%;
}

#front .description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  text-align: center;
  background-color: black;
  padding: 10px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10%;
}

#front .description::-webkit-scrollbar {
  width: 0 !important;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

#front .description:hover {
  opacity: 1;
}

.descriptionContainer {
  position: relative;
  height: auto;
}

#front p {
  margin: 20px 0;
}

/* Results from search */

#results {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 50px;
}

#results h3 {
  text-align: center;
}

#results ul {
  border-left: 1px solid darkgrey;
  text-align: left;
  padding-left: 20px;
  width: 100%
}

#results li {
  position: relative;
  display: block;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 30px;
}

#results img {
  width: 100px;
  display: block;
  border-radius: 10%;
}

#results p {
  display: inline-block;
  margin-right: 20px;
}

#results button {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 10px;
}

#results .generate {
  position: absolute;
  right: 20px;
  top: 20px;
}

#results .generate a {
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid darkgrey;
  padding: 5px;
  background-color: lightgrey;
}

#results .addMovie {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: lightgrey;
} 

/* Your list of movies */

#watchlist {
  display: block;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

#watchlist h3 {
  text-align:center;
  font-size: 24px;
}

#watchlist ul {
  border-left: 1px solid darkgrey;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}

#watchlist li {
  position: relative;
  display: inline-block;
  text-align: left;
  border-bottom: 1px solid darkgrey;
  text-align: center;
  height: 350px;
  vertical-align: middle;
  padding-top: 20px;
  width: 200px;
  box-sizing: border-box;
}

#watchlist .deleteMovie {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 70px;
  background-color: lightgrey;
}

#watchlist #genreSelection {
  font-size: 15px;
  background-color: lightgrey;
  border-radius: 5px;
}

/* Recommendations */

#recommendations h1 {
  text-align: center;
  margin-bottom: 50px;
}

#recommendations ul {
  list-style-type: none;
  width: 100%;
  padding: 0 7.5%;
  margin: 0;
  box-sizing: border-box;
}

#recommendations li {
  position: relative;
  height: 250px;
  overflow: auto;
  margin:auto;
  margin-bottom: 20px;
  background-color: rgba(148, 148, 148);
  max-width: 900px;
}

#recommendations img {
  display: inline-block;
  margin-right: 15px;
}

#recommendations .details {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
  padding-top: 15px;
  box-sizing: border-box;
}

#recommendations h3, #recommendations h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#recommendations .overview {
  position: absolute;
  bottom: 10px;
  max-width: 600px;
}

#recommendations .addMovie {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: lightgrey;
} 

/* Detailed Page */

#movie {
  margin: auto;
  margin-top: 100px;
}

#movie h1 {
  text-align: center;
  font-size: 28px;
}

#rightDetailed #summary h3 {
  text-align: center;
}

#rightDetailed #summary {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid darkgrey;
}

#rightDetailed ul {
  border-top: 5px solid darkgrey;
  border-bottom: 5px solid darkgrey;
  margin: 0;
  padding: 10px 0 10px 40px;
  list-style-type: none;
}

#rightDetailed li {
  display: block;
  margin: 0;
  padding: 0;
}

#rightDetailed p, #rightDetailed span  {
  display: inline-block;
}

#rightDetailed ul p {
  font-weight: bold;
  margin: 0;
  padding-right: 10px;
}


#leftDetailed, #rightDetailed {
  display: inline-block;
  width: 47.5%;
}

#leftDetailed {
  text-align: right;
  margin-right: 5%;
}

#rightDetailed {
  vertical-align: top;
}

#leftDetailed img {
  border-radius: 10%;
  width: 100%;
  max-width: 300px;
}


@media all and (max-width: 750px) {

  body {
    font-size: 10px;
    padding: 0px;
  }

  header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: rgba(49,49,49);
  }

  header nav {
    padding-top: 20px;
  }

  header a {
    font-size: 16px;
  }

  header form {
    margin: 20px;
  }

  main {
    padding-top: 80px;
  }

  #front h3 {
    text-align: center;
    margin: 30px 0;
    font-size: 16px;
  }

  #front p {
    margin: 12px 0;
    font-size: 14px;
  }

  #front .description:hover {
    opacity: 0;
  }

  form label {
    display: none;
  }

  main footer {
    margin-top: 50px;
  }

  footer img {
    width: 50%;
  }

  #front ul {
    padding: 0;
  }

  #front li {
    margin: 0;
    width: 40%
  }

  #results {
    width: 100%;
  }

  #results ul {
    padding: 0;
  }

  #results h3 {
    margin: 40px 0;
    font-size: 16px;
  }

  #results p {
    font-size: 14px;
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  #recommendations li {
    height: 190px;
  }

  #recommendations img {
    margin: 0;
    height: 100%;
  }

  #recommendations .details {
    padding: 10px;
  }

  #recommendations ul {
    padding: 0;
  }

  #recommendations li {
    overflow: hidden;
  }

  #recommendations .addMovie {
    background-color: lightgrey;
    top: 0;
    right: 0;
  }

  #recommendations h1 {
    margin-top: 50px;
  }

  #recommendations h3 {
    font-size: 18px;
  }

  #recommendations h6 {
    font-size: 10px;
  }

  #recommendations .overview {
    font-size: 12px;
    bottom: 10px;
  }

  #watchlist h3 {
    margin-top: 50px;
  }

  #watchlist #genreSelection {
    display: block;
    background-color: lightgrey;
    margin: auto;
  }

  #leftDetailed, #rightDetailed {
    width: 100%;
    display: block;
  }

  #leftDetailed {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  #leftDetailed img {
    width: 60%;
    max-width: 250px;
    margin-bottom: 10px
  }

  #leftDetailed p {
    font-size: 14px;    
  }
    
  #movie h1 {
    font-size: 20px;
    margin-top: 50px;
  }

  #rightDetailed p {
    font-size: 16px;
  }

  #movie {
    margin: 0;
  }

  #rightDetailed #summary h3 {
    font-size: 18px;
  }

  #rightDetailed span {
    font-size: 12px;
  }

}

@media all and (max-width: 450px) {
  #recommendations .details {
    width: 240px;
  }

  #recommendations .overview {
    max-height: 50%;
  }

  #watchlist {
    padding: 0;
  }

  #watchlist li {
    width: auto;
  }

  #front p {
    font-size: 13px;
  }

}

@media all and (max-width: 370px) {
  #recommendations .details {
    width: 190px;
  }

  #recommendations .overview {
    font-size: 11px;
  }

  #recommendations h3 {
    font-size: 16px;
  }

}
