body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Header Display */

header {
  position: relative;
  height: 150px;
}

header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  margin-top: -40px;
}

header nav {
  position: absolute;
  right: 0;
  top: 0;
}

header form {
  text-align: center;
  margin-top: 40px;
}

header input {
  border-radius: 10px;
  margin-left: 10px;
  width: 250px;
  height: 25px;
  padding-left: 10px;
}

header {
  height: 80px;
  border-bottom: 1px solid darkgrey;
}

/* Main Display */

#front section {
  position: relative;
  margin: auto;
  margin-top: 70px;
  width: 1000px;
  text-align: center;
}

#front h3 {
  text-align: left;
  text-decoration: underline;
}

#front ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  width: 900px;
  text-align: center;
  display: inline-block;
  margin: 0;
}

#front i {
  display: inline-block;
  position: absolute;
  top: 45%;
  cursor: pointer;
}

[class='fas fa-chevron-right fa-3x'] {
  right: 0;
}

[class='fas fa-chevron-left fa-3x'] {
  left: 0;
}

#front li {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 200px;
}

#front img {
  display:block;
  width: 100%;
  height: auto;
}

#front li:last-of-type {
  margin-right: 0px;
}

#front div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  margin: 0;
  box-sizing: border-box;
}

#front .ratings {
  position: absolute;
  left: 0;
  bottom: 0;
} 

#front .addMovie {
  position: absolute;
  right: 0;
  bottom: 0;
} 

#front .movieName {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -30px;
  font-size: 10px;
  text-align: left;
} 

#front .date {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -30px;
  font-size: 10px;
} 

/* Results from search */

#results {
  width: 60%;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
}

#results h3 {
  text-align: center;
}

#results ul {
  border-left: 1px solid black;
  text-align: left;
  padding-left: 20px;
  width: 100%
}

#results li {
  position: relative;
  display: block;
  border-bottom: 1px solid black;
}

#results img {
  width: 100px;
}

#results img, #results, p {
  display: inline-block;
  margin-right: 20px;
}

#results button {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 10px;
}

/* Your list of movies */

#yourList {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  padding-left: 30px;
  box-sizing: border-box;
  text-align: center;
}

#yourList ul {
  border-left: 1px solid black;
  padding-left: 15px;
}

#yourList li {
  position: relative;
  display: block;
  text-align: left;
}

#yourList button {
  position: absolute;
  right: 0;
  bottom: 50%;
  display: inline-block;
}



